body{
    background-color: #1a60a5;
}
h3{
    text-align:center;
}
.NewExpense{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1em;
}
.Transactions{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.List{
    /* margin: 2px */
    word-spacing: 10px;
}
li{
    list-style: none;
    text-align:center;
}

.Homepage{
    text-align:center;
}